<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzalal.web.repository.HomeRepository">

    <select id="findRecomViewAll" parameterType="RecomView">
        select * from restaurant
    </select>

    <select id="findReview" parameterType="Review">
<!--        select rvv.*, user.alias from review_view rvv-->
<!--        left join user on (rvv.user_id = user.user_id)-->

        select r.rest_id, r.rest_name, rv.review_id, u.user_id, u.alias, rv.content  from restaurant r
        left join review rv on r.rest_id = rv.rest_id
        left join `user` u on rv.user_id = u.user_id and u.user_id is not null
        where content is not null
        order by r.rest_id asc;

    </select>
    <select id="findRankLimitThree" parameterType="RatingView">
        select row_number() over(order by r.rest_id asc) `rank`, r.rest_id, r.rest_name, count(rv.rest_id) rest_amount, round(avg(rv.rating), 1) rating, rv.img
        from review rv
        left join restaurant r on rv.rest_id = r.rest_id
        GROUP BY r.rest_id
        limit 3
    </select>
    <select id="findRankAll" parameterType="RatingView">
        select row_number() over(order by r.rest_id asc) `rank`, r.rest_id, r.rest_name, count(rv.rest_id) rest_amount, round(avg(rv.rating), 1) rating, rv.img
        from review rv
        left join restaurant r on rv.rest_id = r.rest_id
        GROUP BY r.rest_id
    </select>
    
    <!-- 일주일 기준 랭킹순으로 맛집 3개 조회 -->
    <select id="findRankThree" resultType="RatingView">
		 <![CDATA[
	       	select row_number() over(order by rv.rating desc) as `rank` 
                  , r.rest_id                                  as rest_id
                  , r.rest_name                                as rest_name
                  , count(rv.rest_id)                          as rest_amount
                  , round(avg(rv.rating), 1)                   as rating
                  , rv.img                                     as img
                  , rv.created_date                            as created_date
            from review rv
            left join restaurant r on r.review_id = rv.review_id
            WHERE rv.created_date >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK)
	        AND rv.created_date <= CURDATE()
            GROUP BY r.rest_id
            order by rv.rating desc
            limit 3
        ]]>
	</select>
</mapper>