<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzalal.web.repository.RestDetailViewRepository">


    <select id="findRestDetailView" resultType="RestDetailView">
        select * from rest_detail_view

    </select>

    <select id="findById" resultType="RestDetailView">
        select * from rest_detail_view
        where rest_id=#{restId}
    </select>


</mapper>