<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{inc/layout.html}">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/components/commu/post/create.css" rel="stylesheet" type="text/css">
    <script
    	type="module" 
    	src="/js/commu/post/create.js" defer> </script>
</head>

<body>
    <main layout:fragment="main" >

        <section class = "post-create">
            <h1 class = "d:none"> 🌝 포스팅 작성 공간 🌝 </h1>

                    
                <form 
                	class="postcreate-form" 
                	method="post" 
                	enctype="multipart/form-data">
					
                    <legend class="d:none" for="location"> 지역카테고리 선택</legend>
                  	<div class="post-title-contents md:post-title-contents"> 
                        <!-- 지역 선택 -->
                        <select name="area_id" class="location-select md:location-select">
                            <option value=""> 지역선택 </option> 
                            <option value="1">은평/서대문/마포</option>
                            <option value="2">종로/중구/용산</option>
                            <option value="3">도봉/노원/강북/성북</option>
                            <option value="4">중랑/동대문/성동/광진</option>
                            <option value="5">강동/송파</option>
                            <option value="6">강남/서초</option>
                            <option value="7">동작/관악</option>
                            <option value="8">영등포/구로/금천</option>
                            <option value="9">강서/양천</option>
                        </select>
                            
                  <!--     <input type="hidden" 
                          		name="user_id" 
                          		value="${#authentication.principal.id}">
                          		
						<div
							class ="d:none"
							th:text="${#authentication.principal.id}"> 
						</div>  -->
                        <!-- 제목 입력 -->

                        <div class="posting-title ">
                            <textarea
                            	type="text"
                            	name="title"
                                class="title"
                                placeholder="제목을 입력해주세요."
                                
                                maxlength="80px"
                                rows="1"></textarea>
                                <!-- 태그사이에 공백이 있으면 placehoder 적용 안됨 -->
                        </div>
                        
                        <!-- 내용 입력 -->
                        <div class="posting-contents">
                            <textarea
                            	type="text"
                            	name="content"
                                class="contents"
                                placeholder="내용을 입력해주세요."
                                ></textarea>
                                <!-- 태그사이에 공백이 있으면 placehoder 적용 안됨 -->
                        </div>	
                        
                </div>
                        <!-- 이미지 업로드 -->
	                    <div class="icon-commu-img-upload upload-photo md:upload-photo"> 
	                        <label for = "img">
		                      	<input class="icon-commu-img-upload" type="file" name="img" id ="img" multiple>
							</label>
						  <div class="preview">
						  </div>
	                    </div>		
<!--		                        <img -->
<!--			                        alt="포스팅 이미지선택" -->
<!--			                        class="of:scale-down post-imgs" -->
<!--			                        src="/css/image/commu/icon/commu-imgupload.svg">-->




            <div class="posting-creating-btn md:posting-creating-btn">
<!--                <input type="submit" value="등록" class="btn-main btn-main-create md:btn-main-create"> 등록 -->
                <input type="submit" value="등록" 
                		class="commu-btn-update  md:commu-btn-update">  </input>
                <a href="/commu/main" value="취소" 
                		class="commu-btn-cancle md:commu-btn-cancle"> 취소 </a>	
            </div>
            
		</form>
        </section>


    </main>
</body>
</html>
