<!DOCTYPE html>

<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/components/index/index.css" rel="stylesheet" type="text/css">
		<script src="/js/function/mainscroll1.js"></script>
		<title>Document</title>
	</head>

	<body >
	<main layout:fragment="main" class="body">
	<!-- 랭킹 + 버튼  -->
	<div class="main_btn_div">
		<section class="rank">
			<h1 class="title"><a href="/rank">금주의 랭킹</a></h1>
			<div class="rank-container" th:each="rank:${ranking}">
				<div class="rank-box" >
					<a  href="menu/restDetail/rest_detail" th:href="@{celeb/detail (restId=${rank.restId})}">
					<img class="rank-img" src="/css/img/gold.png" th:src="@{/css/image/{img} (img='rank'+${rank.rank}+'.png')}">
					</a>
					<a  href="menu/restDetail/rest_detail" th:href="@{celeb/detail (restId=${rank.restId})}">
					</a>
					<img class="rest-img" src="/css/img/1-1.png" th:src="@{/css/image/{img} (img=${rank.img})}">
						<a  href="menu/restDetail/rest_detail" th:href="@{celeb/detail (restId=${rank.restId})}">
						<span th:text="${rank.restName}"></span>
						</a>
				</div>
			</div>
		</section>
		<section class="btn-menu">
			<h1 class="title">맛집 찾기</h1>
			<div class="btn-container">
				<div class="rest-map">
					<a href>근처 맛집 지도</a>
				</div>
				<form action="/search/result">
				<div class="find-rest">
					<a>
						<button class="hidden" type="submit" name="query" value="">
						맛집 전체 보기
						</button>
					</a>

				</div>
				</form>
			</div>
			</section>
	</div>

	<!-- 검색창 -->

	<div class="srchbar_div">
		<form action="/search/result">
			<input type="text" placeholder="검색창" name="query"
				   minlength="1">
			<button type="submit"
					class=" icon icon-search icon-hover search">
			</button>
		</form>
	</div>

	<!-- 횡스크롤 -->
	<div class="skin">
		<section class="scrollMenu">
			<h1 class="title">맛집 추천</h1>
			<div class="container" >
				<article class="card" th:each="rc:${recom}">
					<h1 th:text="${rc.restName}"></h1>
					<a href="rest/restDetail" th:href="@{rest/detail(restId=${rc.restId})}">
						<img src="" th:src="@{/css/image/{img}(img=${rc.bannerImg})}" alt="">
					</a>
				</article>
			</div>
		</section>
		<section class="scrollMenu">
			<h1 class="title">최신 후기</h1>
			<div class="container" >
				<article class="reviewCard" th:each="rv:${review}">
					<h1 class="rest-name" th:text="${rv.restName}">상호명</h1>
					<div class="text-box">
						<p th:text="${rv.content}">a</p>
					</div>
					<div class="alias" >
						<span th:text="${rv.alias}">작성자 닉네임</span>
					</div>
				</article>
			</div>
		</section>
	</div>
	</main>
	</body>
</html>