<h1>개인정보 이용</h1>

1. 맛잘알(이하 ‘사이트’라고 합니다)는 서비스 제공을 위해 필요한 최소한의 개인정보를 아래와 같이 수집하고 있습니다.
<br>
수집 목적	필수 여부	수집 항목	보유 기간
* 개인 식별 및 회원 관리
* 서비스 이용 안내를 위한 연락	필수	이메일, 비밀번호, 닉네임	회원 탈퇴 즉시 파기
* 서비스 방문 및 이용 기록 분석	필수	서비스 이용(정지) 기록, 접속 로그, 쿠키, 접속 IP 정보	회원 탈퇴 즉시 또는 이용 목적 달성 즉시 파기
* 맞춤형 회원 서비스 제공	선택	성별, 출생연도	회원 탈퇴 즉시 파기
* 당첨 상품 제공	선택	이름, 핸드폰 번호, 성별, 생년월일, 계좌번호, 영수증 등	서비스 제공 완료 즉시 파기
* 시사회 및 예매권 등 제공	선택	이름, 핸드폰 번호, 성별, 생년월일 등	서비스 제공 완료 즉시 파기
2. 사이트는 원활한 서비스 제공을 위해 최소한의 범위 내에서 아래와 같이 이벤트 및 시사회 주최사에게 참여자 개인정보를 제공합니다.
* · 제공받는 자 : 이벤트 및 시사회 주최사
* · 목적 : 이벤트 및 시사회 당첨자 식별 및 참여 방식 안내
* · 항목 : 이름, 핸드폰 번호, 성별, 생년월일 등
* · 보유기간 : 서비스 제공 완료 시 까지
개인정보의 제공과 관련한 위 사항에 대하여 동의를 거부할 수 있습니다. 다만 동의하지 않는 경우 서비스 이용에 제한이 있을 수 있습니다.
